body {
	background-color:
}	
  .left {
	       float: top-left;
}
  .right {
          float: right;
}


   .main {
          text-align: center;
} 
    table, th, td {
             border: 2px solid black;
             border-collapse: collapse;
}
     div.c {
             text-align: right;
} 
