body {
	background-color:
}	
  .right{
    float:right;
	margin-bottom:10px;
}

.left{
    float:left;
	
}

    table, th, td {
             border: 2px solid black;
             border-collapse: collapse;
}