body {
	background: linear-gradient(to bottom left, #ccffcc 0%, #ffffff 100%;
}	

 div.b {
  text-align: left;
}
 
    table, th, td {
             border: 2px solid black;
             border-collapse: collapse;
}
.right {
  text-align: left;

}